In [ ]:
required_car_parking_spaces
children
hotel

In [1]:
import pandas as pd
import numpy as np

In [3]:

#Guarda data/hoteles-entrena.csv en dataframe
df = pd.read_csv('./data/hoteles-entrena.csv')
df.head()

,hotel,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,market_segment,distribution_channel,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,arrival_date
0,Resort_Hotel,342,0,0,2,none,BB,PRT,Direct,Direct,...,3,No_Deposit,NaN,NaN,0,Transient,0.0,none,0,2015-07-01
1,Resort_Hotel,737,0,0,2,none,BB,PRT,Direct,Direct,...,4,No_Deposit,NaN,NaN,0,Transient,0.0,none,0,2015-07-01
2,Resort_Hotel,7,0,1,1,none,BB,GBR,Direct,Direct,...,0,No_Deposit,NaN,NaN,0,Transient,75.0,none,0,2015-07-01
3,Resort_Hotel,13,0,1,1,none,BB,GBR,Corporate,Corporate,...,0,No_Deposit,304.0,NaN,0,Transient,75.0,none,0,2015-07-01
4,Resort_Hotel,14,0,2,2,none,BB,GBR,Online_TA,TA/TO,...,0,No_Deposit,240.0,NaN,0,Transient,98.0,none,1,2015-07-01

In [4]:
#Sustituye children none por 0 y children por 1
df['children'] = df['children'].replace('none', 0)
df['children'] = df['children'].replace('children', 1)

df.head()

/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1871922385.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['children'] = df['children'].replace('children', 1)

,hotel,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,market_segment,distribution_channel,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,arrival_date
0,Resort_Hotel,342,0,0,2,0,BB,PRT,Direct,Direct,...,3,No_Deposit,NaN,NaN,0,Transient,0.0,none,0,2015-07-01
1,Resort_Hotel,737,0,0,2,0,BB,PRT,Direct,Direct,...,4,No_Deposit,NaN,NaN,0,Transient,0.0,none,0,2015-07-01
2,Resort_Hotel,7,0,1,1,0,BB,GBR,Direct,Direct,...,0,No_Deposit,NaN,NaN,0,Transient,75.0,none,0,2015-07-01
3,Resort_Hotel,13,0,1,1,0,BB,GBR,Corporate,Corporate,...,0,No_Deposit,304.0,NaN,0,Transient,75.0,none,0,2015-07-01
4,Resort_Hotel,14,0,2,2,0,BB,GBR,Online_TA,TA/TO,...,0,No_Deposit,240.0,NaN,0,Transient,98.0,none,1,2015-07-01

In [5]:


#Sustituye children none por 0 y children por 1
df['required_car_parking_spaces'] = df['required_car_parking_spaces'].replace('none', 0)
df['required_car_parking_spaces'] = df['required_car_parking_spaces'].replace('parking', 1)

df.head()

/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/667056566.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['required_car_parking_spaces'] = df['required_car_parking_spaces'].replace('parking', 1)

,hotel,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,market_segment,distribution_channel,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,arrival_date
0,Resort_Hotel,342,0,0,2,0,BB,PRT,Direct,Direct,...,3,No_Deposit,NaN,NaN,0,Transient,0.0,0,0,2015-07-01
1,Resort_Hotel,737,0,0,2,0,BB,PRT,Direct,Direct,...,4,No_Deposit,NaN,NaN,0,Transient,0.0,0,0,2015-07-01
2,Resort_Hotel,7,0,1,1,0,BB,GBR,Direct,Direct,...,0,No_Deposit,NaN,NaN,0,Transient,75.0,0,0,2015-07-01
3,Resort_Hotel,13,0,1,1,0,BB,GBR,Corporate,Corporate,...,0,No_Deposit,304.0,NaN,0,Transient,75.0,0,0,2015-07-01
4,Resort_Hotel,14,0,2,2,0,BB,GBR,Online_TA,TA/TO,...,0,No_Deposit,240.0,NaN,0,Transient,98.0,0,1,2015-07-01

## Pruebas

In [7]:
df_prueba = df[['required_car_parking_spaces', 'children', 'hotel', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'country', 'booking_changes', 'customer_type']]
df_prueba.head()

,required_car_parking_spaces,children,hotel,stays_in_weekend_nights,stays_in_week_nights,adults,country,booking_changes,customer_type
0,0,0,Resort_Hotel,0,0,2,PRT,3,Transient
1,0,0,Resort_Hotel,0,0,2,PRT,4,Transient
2,0,0,Resort_Hotel,0,1,1,GBR,0,Transient
3,0,0,Resort_Hotel,0,1,1,GBR,0,Transient
4,0,0,Resort_Hotel,0,2,2,GBR,0,Transient

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

# Ejemplo de codificaciÃ³n de variables categÃ³ricas
label_encoder = LabelEncoder()
df_prueba['hotel'] = label_encoder.fit_transform(df_prueba['hotel'])

df_prueba.head()

/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1894373518.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba['hotel'] = label_encoder.fit_transform(df_prueba['hotel'])

,required_car_parking_spaces,children,hotel,stays_in_weekend_nights,stays_in_week_nights,adults,country,booking_changes,customer_type
0,0,0,1,0,0,2,PRT,3,Transient
1,0,0,1,0,0,2,PRT,4,Transient
2,0,0,1,0,1,1,GBR,0,Transient
3,0,0,1,0,1,1,GBR,0,Transient
4,0,0,1,0,2,2,GBR,0,Transient

In [15]:
# Aplicar OneHotEncoding a la variable 'country'
onehot_encoder = OneHotEncoder()

# Ajustar y transformar las variables categÃ³ricas
onehot_encoded = onehot_encoder.fit_transform(df_prueba[['country']]).toarray()

# Obtener los nombres de las nuevas columnas con get_feature_names_out()
column_names = onehot_encoder.get_feature_names_out(['country'])

# Agrergar las nuevas columnas al dataframe original
df_prueba[column_names] = onehot_encoded

df_prueba.head()

/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded
/var/folders/mn/vp70xqd126nc7g0318l132mh0000gp/T/ipykernel_89494/1119160150.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_prueba[column_names] = onehot_encoded

,required_car_parking_spaces,children,hotel,stays_in_weekend_nights,stays_in_week_nights,adults,country,booking_changes,customer_type,country_ABW,...,country_TWN,country_UKR,country_URY,country_USA,country_UZB,country_VEN,country_VNM,country_ZAF,country_ZWE,country_nan
0,0,0,1,0,0,2,PRT,3,Transient,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,1,0,0,2,PRT,4,Transient,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,1,0,1,1,GBR,0,Transient,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,1,0,1,1,GBR,0,Transient,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,1,0,2,2,GBR,0,Transient,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
#Eliminar la columna 'country' original
df_prueba = df_prueba.drop(columns=['country'])

label_encoder = LabelEncoder()
df_prueba['customer_type'] = label_encoder.fit_transform(df_prueba['customer_type'])

df_prueba.head()

,required_car_parking_spaces,children,hotel,stays_in_weekend_nights,stays_in_week_nights,adults,booking_changes,customer_type,country_ABW,country_AGO,...,country_TWN,country_UKR,country_URY,country_USA,country_UZB,country_VEN,country_VNM,country_ZAF,country_ZWE,country_nan
0,0,0,1,0,0,2,3,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,1,0,0,2,4,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,1,0,1,1,0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,1,0,1,1,0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,1,0,2,2,0,2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


# Dividir los datos en conjunto de entrenamiento y prueba
X = df_prueba.drop('children', axis=1)  # Variables predictoras
y = df['children']               # Variable objetivo
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


# Crear el modelo de clasificaciÃ³n
clf = RandomForestClassifier()

# Entrenar el modelo
clf.fit(X_train, y_train)

# Hacer predicciones
y_pred = clf.predict(X_test)

# Evaluar el modelo
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.91

In [18]:
from sklearn.metrics import classification_report, confusion_matrix

# Matriz de confusiÃ³n
cm = confusion_matrix(y_test, y_pred)
print(f'Matriz de ConfusiÃ³n:\n {cm}')

# Reporte de clasificaciÃ³n
report = classification_report(y_test, y_pred)
print(f'Reporte de ClasificaciÃ³n:\n {report}')

Matriz de ConfusiÃ³n:
 [[14356   229]
 [ 1224    86]]
Reporte de ClasificaciÃ³n:
               precision    recall  f1-score   support

           0       0.92      0.98      0.95     14585
           1       0.27      0.07      0.11      1310

    accuracy                           0.91     15895
   macro avg       0.60      0.52      0.53     15895
weighted avg       0.87      0.91      0.88     15895